@font-face {
  font-family: roboto slab;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/font.ttf) format('truetype')
}

*,
*.before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

html {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px
}

@media(min-width:768px) {
  body {
    font-size: 16px
  }
}

body.centered {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  justify-content: center
}

h1 {
  font-size: 1.25em
}

h2 {
  font-size: 1.5em
}

h3 {
  font-size: 1.25em
}

h4 {
  font-size: 1.5em
}

p {
  font-size: .9em
}

.container {
  width: 100%;
  max-width: 960px;
  display: table;
  padding: 0 16px;
  margin: 0 auto
}

.fluid {
  max-width: 100%
}

.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex
}

.align-center {
  -ms-align-items: center;
  align-items: center
}

.container>div.block {
  width: 100%
}

.container>div.auto {
  width: auto
}

@media(min-width:0px) and (max-width:768px) {
  .sm-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

@media(min-width:960px) {
  .lg-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

@media(min-width:0px) and (max-width:768px) {
  .sm-column-reverse {
    flex-flow: column-reverse
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-column-reverse {
    flex-flow: column-reverse
  }
}

@media(min-width:960px) {
  .lg-column-reverse {
    flex-flow: column-reverse
  }
}

@media(min-width:0px) and (max-width:768px) {
  .sm-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }
}

@media(min-width:960px) {
  .lg-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }
}

@media(min-width:0px) and (max-width:768px) {
  .sm-row-reverse {
    flex-flow: row-reverse
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-row-reverse {
    flex-flow: row-reverse
  }
}

@media(min-width:960px) {
  .lg-row-reverse {
    flex-flow: row-reverse
  }
}

.sm-padding-0 {
  padding: 0
}

.sm-padding-1 {
  padding: 8px
}

.sm-padding-2 {
  padding: 16px
}

.sm-padding-3 {
  padding: 24px
}

.sm-padding-4 {
  padding: 32px
}

@media(min-width:0px) and (max-width:768px) {
  .sm-padding-0 {
    padding: 0
  }

  .sm-padding-1 {
    padding: 8px
  }

  .sm-padding-2 {
    padding: 16px
  }

  .sm-padding-3 {
    padding: 24px
  }

  .sm-padding-4 {
    padding: 32px
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-padding-0 {
    padding: 0
  }

  .md-padding-1 {
    padding: 8px
  }

  .md-padding-2 {
    padding: 16px
  }

  .md-padding-3 {
    padding: 24px
  }

  .md-padding-4 {
    padding: 32px
  }
}

@media(min-width:960px) {
  .lg-padding-0 {
    padding: 0
  }

  .lg-padding-1 {
    padding: 8px
  }

  .lg-padding-2 {
    padding: 16px
  }

  .lg-padding-3 {
    padding: 24px
  }

  .lg-padding-4 {
    padding: 32px
  }
}

.sm-padding-top-0 {
  padding-top: 0
}

.sm-padding-top-1 {
  padding-top: 8px
}

.sm-padding-top-2 {
  padding-top: 16px
}

.sm-padding-top-3 {
  padding-top: 24px
}

.sm-padding-top-4 {
  padding-top: 32px
}

@media(min-width:0px) and (max-width:768px) {
  .sm-padding-top-0 {
    padding-top: 0
  }

  .sm-padding-top-1 {
    padding-top: 8px
  }

  .sm-padding-top-2 {
    padding-top: 16px
  }

  .sm-padding-top-3 {
    padding-top: 24px
  }

  .sm-padding-top-4 {
    padding-top: 32px
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-padding-top-0 {
    padding-top: 0
  }

  .md-padding-top-1 {
    padding-top: 8px
  }

  .md-padding-top-2 {
    padding-top: 16px
  }

  .md-padding-top-3 {
    padding-top: 24px
  }

  .md-padding-top-4 {
    padding-top: 32px
  }
}

@media(min-width:960px) {
  .lg-padding-top-0 {
    padding-top: 0
  }

  .lg-padding-top-1 {
    padding-top: 8px
  }

  .lg-padding-top-2 {
    padding-top: 16px
  }

  .lg-padding-top-3 {
    padding-top: 24px
  }

  .lg-padding-top-4 {
    padding-top: 32px
  }
}

.sm-padding-right-0 {
  padding-right: 0
}

.sm-padding-right-1 {
  padding-right: 8px
}

.sm-padding-right-2 {
  padding-right: 16px
}

.sm-padding-right-3 {
  padding-right: 24px
}

.sm-padding-right-4 {
  padding-right: 32px
}

@media(min-width:0px) and (max-width:768px) {
  .sm-padding-right-0 {
    padding-right: 0
  }

  .sm-padding-right-1 {
    padding-right: 8px
  }

  .sm-padding-right-2 {
    padding-right: 16px
  }

  .sm-padding-right-3 {
    padding-right: 24px
  }

  .sm-padding-right-4 {
    padding-right: 32px
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-padding-right-0 {
    padding-right: 0
  }

  .md-padding-right-1 {
    padding-right: 8px
  }

  .md-padding-right-2 {
    padding-right: 16px
  }

  .md-padding-right-3 {
    padding-right: 24px
  }

  .md-padding-right-4 {
    padding-right: 32px
  }
}

@media(min-width:960px) {
  .lg-padding-right-0 {
    padding-right: 0
  }

  .lg-padding-right-1 {
    padding-right: 8px
  }

  .lg-padding-right-2 {
    padding-right: 16px
  }

  .lg-padding-right-3 {
    padding-right: 24px
  }

  .lg-padding-right-4 {
    padding-right: 32px
  }
}

.sm-padding-bottom-0 {
  padding-bottom: 0
}

.sm-padding-bottom-1 {
  padding-bottom: 8px
}

.sm-padding-bottom-2 {
  padding-bottom: 16px
}

.sm-padding-bottom-3 {
  padding-bottom: 24px
}

.sm-padding-bottom-4 {
  padding-bottom: 32px
}

@media(min-width:0px) and (max-width:768px) {
  .sm-padding-bottom-0 {
    padding-bottom: 0
  }

  .sm-padding-bottom-1 {
    padding-bottom: 8px
  }

  .sm-padding-bottom-2 {
    padding-bottom: 16px
  }

  .sm-padding-bottom-3 {
    padding-bottom: 24px
  }

  .sm-padding-bottom-4 {
    padding-bottom: 32px
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-padding-bottom-0 {
    padding-bottom: 0
  }

  .md-padding-bottom-1 {
    padding-bottom: 8px
  }

  .md-padding-bottom-2 {
    padding-bottom: 16px
  }

  .md-padding-bottom-3 {
    padding-bottom: 24px
  }

  .md-padding-bottom-4 {
    padding-bottom: 32px
  }
}

@media(min-width:960px) {
  .lg-padding-bottom-0 {
    padding-bottom: 0
  }

  .lg-padding-bottom-1 {
    padding-bottom: 8px
  }

  .lg-padding-bottom-2 {
    padding-bottom: 16px
  }

  .lg-padding-bottom-3 {
    padding-bottom: 24px
  }

  .lg-padding-bottom-4 {
    padding-bottom: 32px
  }
}

.sm-padding-left-0 {
  padding-left: 0
}

.sm-padding-left-1 {
  padding-left: 8px
}

.sm-padding-left-2 {
  padding-left: 16px
}

.sm-padding-left-3 {
  padding-left: 24px
}

.sm-padding-left-4 {
  padding-left: 32px
}

@media(min-width:0px) and (max-width:768px) {
  .sm-padding-left-0 {
    padding-left: 0
  }

  .sm-padding-left-1 {
    padding-left: 8px
  }

  .sm-padding-left-2 {
    padding-left: 16px
  }

  .sm-padding-left-3 {
    padding-left: 24px
  }

  .sm-padding-left-4 {
    padding-left: 32px
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-padding-left-0 {
    padding-left: 0
  }

  .md-padding-left-1 {
    padding-left: 8px
  }

  .md-padding-left-2 {
    padding-left: 16px
  }

  .md-padding-left-3 {
    padding-left: 24px
  }

  .md-padding-left-4 {
    padding-left: 32px
  }
}

@media(min-width:960px) {
  .lg-padding-left-0 {
    padding-left: 0
  }

  .lg-padding-left-1 {
    padding-left: 8px
  }

  .lg-padding-left-2 {
    padding-left: 16px
  }

  .lg-padding-left-3 {
    padding-left: 24px
  }

  .lg-padding-left-4 {
    padding-left: 32px
  }
}

.sm-margin-0 {
  margin: 0
}

.sm-margin-1 {
  margin: 8px
}

.sm-margin-2 {
  margin: 16px
}

.sm-margin-3 {
  margin: 24px
}

.sm-margin-4 {
  margin: 32px
}

@media(min-width:0px) and (max-width:768px) {
  .sm-margin-0 {
    margin: 0
  }

  .sm-margin-1 {
    margin: 8px
  }

  .sm-margin-2 {
    margin: 16px
  }

  .sm-margin-3 {
    margin: 24px
  }

  .sm-margin-4 {
    margin: 32px
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-margin-0 {
    margin: 0
  }

  .md-margin-1 {
    margin: 8px
  }

  .md-margin-2 {
    margin: 16px
  }

  .md-margin-3 {
    margin: 24px
  }

  .md-margin-4 {
    margin: 32px
  }
}

@media(min-width:960px) {
  .lg-margin-0 {
    margin: 0
  }

  .lg-margin-1 {
    margin: 8px
  }

  .lg-margin-2 {
    margin: 16px
  }

  .lg-margin-3 {
    margin: 24px
  }

  .lg-margin-4 {
    margin: 32px
  }
}

.sm-margin-top-0 {
  margin-top: 0
}

.sm-margin-top-1 {
  margin-top: 8px
}

.sm-margin-top-2 {
  margin-top: 16px
}

.sm-margin-top-3 {
  margin-top: 24px
}

.sm-margin-top-4 {
  margin-top: 32px
}

@media(min-width:0px) and (max-width:768px) {
  .sm-margin-top-0 {
    margin-top: 0
  }

  .sm-margin-top-1 {
    margin-top: 8px
  }

  .sm-margin-top-2 {
    margin-top: 16px
  }

  .sm-margin-top-3 {
    margin-top: 24px
  }

  .sm-margin-top-4 {
    margin-top: 32px
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-margin-top-0 {
    margin-top: 0
  }

  .md-margin-top-1 {
    margin-top: 8px
  }

  .md-margin-top-2 {
    margin-top: 16px
  }

  .md-margin-top-3 {
    margin-top: 24px
  }

  .md-margin-top-4 {
    margin-top: 32px
  }
}

@media(min-width:960px) {
  .lg-margin-top-0 {
    margin-top: 0
  }

  .lg-margin-top-1 {
    margin-top: 8px
  }

  .lg-margin-top-2 {
    margin-top: 16px
  }

  .lg-margin-top-3 {
    margin-top: 24px
  }

  .lg-margin-top-4 {
    margin-top: 32px
  }
}

.sm-margin-right-0 {
  margin-right: 0
}

.sm-margin-right-1 {
  margin-right: 8px
}

.sm-margin-right-2 {
  margin-right: 16px
}

.sm-margin-right-3 {
  margin-right: 24px
}

.sm-margin-right-4 {
  margin-right: 32px
}

@media(min-width:0px) and (max-width:768px) {
  .sm-margin-right-0 {
    margin-right: 0
  }

  .sm-margin-right-1 {
    margin-right: 8px
  }

  .sm-margin-right-2 {
    margin-right: 16px
  }

  .sm-margin-right-3 {
    margin-right: 24px
  }

  .sm-margin-right-4 {
    margin-right: 32px
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-margin-right-0 {
    margin-right: 0
  }

  .md-margin-right-1 {
    margin-right: 8px
  }

  .md-margin-right-2 {
    margin-right: 16px
  }

  .md-margin-right-3 {
    margin-right: 24px
  }

  .md-margin-right-4 {
    margin-right: 32px
  }
}

@media(min-width:960px) {
  .lg-margin-right-0 {
    margin-right: 0
  }

  .lg-margin-right-1 {
    margin-right: 8px
  }

  .lg-margin-right-2 {
    margin-right: 16px
  }

  .lg-margin-right-3 {
    margin-right: 24px
  }

  .lg-margin-right-4 {
    margin-right: 32px
  }
}

.sm-margin-bottom-0 {
  margin-bottom: 0
}

.sm-margin-bottom-1 {
  margin-bottom: 8px
}

.sm-margin-bottom-2 {
  margin-bottom: 16px
}

.sm-margin-bottom-3 {
  margin-bottom: 24px
}

.sm-margin-bottom-4 {
  margin-bottom: 32px
}

@media(min-width:0px) and (max-width:768px) {
  .sm-margin-bottom-0 {
    margin-bottom: 0
  }

  .sm-margin-bottom-1 {
    margin-bottom: 8px
  }

  .sm-margin-bottom-2 {
    margin-bottom: 16px
  }

  .sm-margin-bottom-3 {
    margin-bottom: 24px
  }

  .sm-margin-bottom-4 {
    margin-bottom: 32px
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-margin-bottom-0 {
    margin-bottom: 0
  }

  .md-margin-bottom-1 {
    margin-bottom: 8px
  }

  .md-margin-bottom-2 {
    margin-bottom: 16px
  }

  .md-margin-bottom-3 {
    margin-bottom: 24px
  }

  .md-margin-bottom-4 {
    margin-bottom: 32px
  }
}

@media(min-width:960px) {
  .lg-margin-bottom-0 {
    margin-bottom: 0
  }

  .lg-margin-bottom-1 {
    margin-bottom: 8px
  }

  .lg-margin-bottom-2 {
    margin-bottom: 16px
  }

  .lg-margin-bottom-3 {
    margin-bottom: 24px
  }

  .lg-margin-bottom-4 {
    margin-bottom: 32px
  }
}

.sm-margin-left-0 {
  margin-left: 0
}

.sm-margin-left-1 {
  margin-left: 8px
}

.sm-margin-left-2 {
  margin-left: 16px
}

.sm-margin-left-3 {
  margin-left: 24px
}

.sm-margin-left-4 {
  margin-left: 32px
}

@media(min-width:0px) and (max-width:768px) {
  .sm-margin-left-0 {
    margin-left: 0
  }

  .sm-margin-left-1 {
    margin-left: 8px
  }

  .sm-margin-left-2 {
    margin-left: 16px
  }

  .sm-margin-left-3 {
    margin-left: 24px
  }

  .sm-margin-left-4 {
    margin-left: 32px
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-margin-left-0 {
    margin-left: 0
  }

  .md-margin-left-1 {
    margin-left: 8px
  }

  .md-margin-left-2 {
    margin-left: 16px
  }

  .md-margin-left-3 {
    margin-left: 24px
  }

  .md-margin-left-4 {
    margin-left: 32px
  }
}

@media(min-width:960px) {
  .lg-margin-left-0 {
    margin-left: 0
  }

  .lg-margin-left-1 {
    margin-left: 8px
  }

  .lg-margin-left-2 {
    margin-left: 16px
  }

  .lg-margin-left-3 {
    margin-left: 24px
  }

  .lg-margin-left-4 {
    margin-left: 32px
  }
}

.img {
  width: 100%;
  display: block
}

.img.object-fit-cover {
  height: 100%;
  object-fit: cover;
  object-position: center center
}

.sm-text-align-left {
  text-align: left
}

.sm-text-align-right {
  text-align: right
}

.sm-text-align-center {
  text-align: center
}

.sm-text-align-justify {
  text-align: justify
}

@media(min-width:0px) and (max-width:768px) {
  .sm-text-align-left {
    text-align: left
  }

  .sm-text-align-right {
    text-align: right
  }

  .sm-text-align-center {
    text-align: center
  }

  .sm-text-align-justify {
    text-align: justify
  }
}

@media(min-width:768px) and (max-width:960px) {
  .md-text-align-left {
    text-align: left
  }

  .md-text-align-right {
    text-align: right
  }

  .md-text-align-center {
    text-align: center
  }

  .md-text-align-justify {
    text-align: justify
  }
}

@media(min-width:960px) {
  .lg-text-align-left {
    text-align: left
  }

  .lg-text-align-right {
    text-align: right
  }

  .lg-text-align-center {
    text-align: center
  }

  .lg-text-align-justify {
    text-align: justify
  }
}

.justify-content-sb {
  justify-content: space-between
}

#quest-counter {
  display: none;
  text-align: center
}

#quest-counter>i {
  font-style: normal
}

.quest {
  display: none
}

.quest.show {
  display: block
}

button {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 100%;
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #eee;
  border: 1px solid #eee;
  border-radius: 3px;
  color: #fff;
  padding: 7px 3px;
  font-size: 1.25em;
  font-weight: 700;
  transition: background .2s linear, border-color .2s linear
}

button:hover {
  background: #ccc;
  border-color: #ccc
}

#redirect-flow ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center
}

#redirect-flow ul>li {
  width: auto;
  margin: 16px 0;
  font-weight: 700;
  font-size: 1.15em;
  display: none
}

#redirect-flow ul>li.show {
  display: block
}

#redirect-flow ul>li:first-of-type {
  margin-top: 0
}

#redirect-flow ul>li:last-of-type {
  margin-bottom: 0
}

#redirect-flow ul>li>i {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both
}

#redirect-flow ul>li>i:nth-child(1) {
  margin-left: .5rem
}

#redirect-flow ul>li>i:nth-child(2) {
  animation-delay: .2s
}

#redirect-flow ul>li>i:nth-child(3) {
  animation-delay: .4s
}

.blink {
  animation: blink-animation 1s infinite;
  -webkit-animation: blink-animation 1s infinite
}

@keyframes blink-animation {
  50% {
    opacity: 0
  }
}

@-webkit-keyframes blink-animation {
  50% {
    opacity: 0
  }
}

.spinner {
  margin: 0 auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px
}

.spinner>div {
  background-color: #ccc;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}

.spinner .rect4 {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s
}

.spinner .rect5 {
  -webkit-animation-delay: -.8s;
  animation-delay: -.8s
}

@-webkit-keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    -webkit-transform: scaleY(.4)
  }

  20% {
    -webkit-transform: scaleY(1)
  }
}

@keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    transform: scaleY(.4);
    -webkit-transform: scaleY(.4)
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1)
  }
}

#progress-bar {
  position: relative;
  z-index: 1
}

#progress-bar>div {
  height: 4px;
  width: 100%;
  background-color: #eee;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden
}

#progress-bar div.bar {
  height: 100%;
  width: 0%;
  background-color: #2ecc71;
  transition: width .2s linear
}

#progress-bar ul {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center
}

#progress-bar li {
  text-align: center;
  width: 46px;
  height: 46px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  border: 4px solid #eee;
  background-color: #fff;
  border-radius: 100%;
  color: #aaa;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  transition: all .2s linear
}

#progress-bar li.visited {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  font-size: 0
}

#progress-bar li.visited:before {
  content: '\2714';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  box-shadow: inset 0 0 0 3px #fff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px
}

#progress-bar li.active {
  color: #24b963;
  border-color: #2ecc71
}

body {
  background-color: #eee;
  color: #1d2129;
  padding: 16px;
  font-family: roboto, sans-serif
}

h2 {
  font-size: 3rem
}

h3 {
  font-size: 1.75em
}

h2,
h3 {
  text-shadow: 1px 1px 5px #000;
  line-height: 1.2
}

.img {
  min-height: 250px;
  max-height: 300px
}

.spinner>div {
  background-color: #135ec7
}

body>header,
body>main,
body>footer {
  width: 100%;
  max-width: 700px;
  display: table;
  margin: 0 auto
}

body>main {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #0651b6;
  background-image: url(banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 320px;
  position: relative;
  z-index: 0
}

body>main::before {
  bottom: 0;
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 160px;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 70%);
  z-index: -1
}

body>header,
body>footer {
  color: #1d2129;
  background-color: #fff
}

button {
  background-color: #f80000;
  border-color: #f80000;
  border-radius: 30px
}

button:hover {
  background-color: #000;
  border-color: #000
}

@media(max-width:768px) and (min-width:0px) {
  h2 {
    font-size: 1.5em;
    padding-bottom: 10px
  }

  h3 {
    font-size: 1.25em
  }

  h3 br {
    display: none
  }

  body>main {
    padding-bottom: 130px
  }
}