@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.wrapper {
    width: 100%;
    height: 100%;
    font-family: Roboto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    .content {
        display: flex;
        align-items: center;
        padding: 65px;
        width: 730px;
        min-width: 730px;
        box-sizing: border-box;
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    .content {
        display: flex;
        align-items: center;
        padding: 15%;
        width: 400px;
        min-width: 100%;
        box-sizing: border-box;
        position: relative;
    }
}

@media screen and (min-width: 600px) {
    p {
        font-size: 48px;
        font-weight: 300;
    }
}

@media screen and (max-width: 600px) {
    p {
        font-size: 18px;
        font-weight: 300;
    }
}

strong {
    font-weight: 500;
}

svg {
    flex-shrink: 0;
    width: 286px;
    max-width: 100%;
    height: 413px;
    max-height: 100%;
}

@media screen and (max-width: 600px) {
    svg {
        flex-shrink: 0;
        width: 120px;
        min-width: 10%;
        height: 205px;
        min-height: 10%;
    }
}

@media screen and (min-width: 600px) {
    .captcha-icon {
        position: absolute;
        left: 10%;
        bottom: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;
    }
}

@media screen and (max-width: 600px) {
    .captcha-icon {
        position: absolute;
        left: 10%;
        bottom: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;
    }
}

@media screen and (min-width: 600px) {
    .captcha-icon>.captcha-logo {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 600px) {
    .captcha-icon>.captcha-logo {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 600px) {
    .captcha-title {
        font-size: 10px;
        font-weight: 500;
        margin-top: 5px;
        color: #fff;
    }
}

@media screen and (max-width: 600px) {
    .captcha-title {
        font-size: 5px;
        font-weight: 500;
        margin-top: 2%;
        color: #fff;
    }
}

.captcha-title_gray {
    color: #c3c3c3
}